<div id="sidebar">
    <a href="https://github.com/rackerlabs/docs-portal-onboarding-guide/issues" target="_blank" class="github-link">
        <span class="icon fa fa-github"></span>
        <span class="link-text">Submit an issue</span>
    </a>
  <ul class="sidebar-list">
    <li class="sidebar-item">
        <a class="reference internal" id="current" href="/">Rackspace Technology Customer Portal Onboarding Guide</a>
    </li>
    <li class="sidebar-item">
        <a class="reference internal parent" id="current1" href="/intended_audience/">Intended audience</a>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-one">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></div>
        <a class="reference internal parent" id="headingOne" href="/introduction/">Log in to the Rackspace Technology customer portal</a>
        <ul class="sidebar-sub-list collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#sidebar-item-one">
            <li class="sidebar-sub-item"><a class="reference internal" id="child" href="/introduction/#the-account-registration-code">The account registration code</a></li>
            <li class="sidebar-sub-item"><a class="reference internal" href="/introduction/#the-global-navigation-menu">The global navigation menu</a></li>
        </ul>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-two">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></div>
        <a class="reference internal parent" id="headingTwo" href="/portal_profile/">Manage your portal profile</a>
        <ul class="sidebar-sub-list collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#sidebar-item-two">
            <li class="sidebar-sub-item">
                <a class="reference internal" href="/portal_profile/#private-cloud">Private cloud</a>
            </li>
            <li class="sidebar-sub-item">
                <a class="reference internal" href="/portal_profile/#public-cloud">Public Cloud</a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-three">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"></div>
        <a class="reference internal parent" id="headingThree" href="/manage_portal_user_groups/">Manage portal users and groups</a>
        <ul class="sidebar-sub-list collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#sidebar-item-three">
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/manage_portal_user_groups/rbac/">Role-based access control</a>
            </li>
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/manage_portal_user_groups/cloud_groups/">Manage public cloud users and user groups</a>
            </li>
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/manage_portal_user_groups/private_cloud_users/">Manage private cloud users</a>
            </li>
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/manage_portal_user_groups/api_key/">Manage your API key</a>
            </li>
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/manage_portal_user_groups/api_key_other/">Manage API keys for other users</a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-four">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"></div>
        <a class="reference internal parent" id="headingFour" href="/administrative/">Make administrative changes to your account</a>
        <ul class="sidebar-sub-list collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#sidebar-item-four">
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/administrative/primary_contact/">Update your account's primary contact</a>
            </li>
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/administrative/change_account_name/">Change your account company name</a>
            </li>
            <li class="sidebar-sub-item">
                <a class="reference internal parent" href="/administrative/change_owner/">Change your cloud account owner</a>
            </li>
        </ul>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-five">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"></div>
        <a class="reference internal parent" id="headingFive" href="/understand_billing/">Understand your Rackspace Technology billing</a>
        <ul class="sidebar-sub-list collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#sidebar-item-five">
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/understand_billing/about/">About Rackspace Technology billing</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/understand_billing/estimate/">Estimate your monthly charges</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/understand_billing/current_usage/">View current usage</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/understand_billing/invoice_details/">View invoice details</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/understand_billing/account_invoice/">Your Rackspace Technology account invoice</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/understand_billing/detailed_permissions/">Permissions for billing and payment services</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/understand_billing/help/">Get help with Rackspace Technology billing</a></li>
        </ul>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-six">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"></div>
        <a class="reference internal parent" id="headingSix" href="/manage_billing/">Manage your Rackspace Technology billing</a>
        <ul class="sidebar-sub-list collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#sidebar-item-six">
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/manage_billing/access/">Access your billing information</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/manage_billing/threshold/">Set a billing threshold</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/manage_billing/manage_methods/">Manage payment methods</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/manage_billing/update_billing/">Update your billing information</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/manage_billing/vat/">Reclaim VAT</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/manage_billing/sla_credit/">Request an SLA credit</a></li>
        </ul>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-seven">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"></div>
        <a class="reference internal" id="headingSeven parent" href="/tickets/">Manage support tickets</a>
        <ul class="sidebar-sub-list collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#sidebar-item-seven">
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/tickets/ticket_private/">Rackspace Technology Dedicated customers: Create support tickets</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/tickets/ticket_cloud_panel/">Rackspace Technology customers: Create support tickets</a></li>
        </ul>
    </li>
    <li class="sidebar-item accordion" id="sidebar-item-eight">
        <div class="fa fa-caret-right" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"></div>
        <a class="reference internal parent" id="headingEight" href="/notifications/">Manage your notifications</a>
        <ul class="sidebar-sub-list collapse" id="collapseEight" aria-labelledby="headingEight" data-parent="#sidebar-item-eight">
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/notifications/managing_notifications/">Manage account notifications</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/notifications/notification_preferences/">My notification preferences</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/notifications/user_preferences/">Edit user notification preferences</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/notifications/situation_tickets/">Situation tickets</a></li>
            <li class="sidebar-sub-item"><a class="reference internal parent" href="/notifications/interpret_situation/">Interpret a situation ticket</a></li>
        </ul>
    </li>
    <li class="sidebar-item"><a class="reference internal parent" href="/support/">Contact support</a></li>
  </ul>
</div>