.bolditalic {
    font-weight: bold;
    font-style: italic;
}

.guilabel {
    font-weight: bold;
  }
  
.menuselection {
    font-weight: bold;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from
         overriding this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
    }
  
    .wy-table-responsive {
      overflow: visible !important;
    }
  
  }


@media screen and (min-width: 1025px) {
    .wy-side-scroll {
        padding: 15px 20px 0;
    }
}

.wy-side-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 15px 0;
}


ul.current {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 100%;
}

ul.current li {
    margin: 0;
}

ul.current>li.toctree-l1:first-of-type a, ul.current>li.toctree-l1:first-of-type a {
    font-family: 'titillium-bold',arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

ul.current li a.current {
    background: rgba(52,152,219,.2);
    box-shadow: inset 3px 0 0 0 #3498db;
}

ul.current li a {
    font-family: 'titillium-regular',arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #474747;
    display: block;
    font-size: 16px;
    padding: .4em .5em;
    text-decoration: none;
}


