{{- define "json-ld" -}}
{{- partial "seo/json-ld/index" . -}}
{{- end -}}
{{- define "main" -}}
<div id="root"></div>
<div id="modal-root"></div>
{{- partial "components/headline" . -}}
{{- partial "components/announcement" . -}}
<section id="main-section">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            {{- partial "components/sidebar" . -}}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="container">
                {{- .Content -}}
            </div>
        </div>
    </div>
</section>
{{- end -}}