.bolditalic {
    font-weight: bold;
    font-style: italic;
}

.guilabel {
    font-weight: bold;
  }
  
.menuselection {
    font-weight: bold;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from
         overriding this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
    }
  
    .wy-table-responsive {
      overflow: visible !important;
    }
  
  }

nav.wy-nav-side {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-right: -.26rem;
    margin-left: 0;
    vertical-align: top;
    width: calc(20% - 0px);
    display: none;
}

@media screen and (min-width: 1025px) {
    nav.wy-nav-side {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: inline-block;
        margin-right: -.26rem;
        margin-left: 0;
        vertical-align: top;
        width: calc(25% - 0px);
    }
}
@media screen and (min-width: 769px) {
    nav.wy-nav-side {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: inline-block;
        margin-right: -.26rem;
        margin-left: 0;
        vertical-align: top;
        width: calc(20% - 0px);
    }
}

@media screen and (min-width: 1025px) {
    .wy-side-scroll {
        padding: 15px 20px 0;
    }
}

.wy-side-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 15px 0;
}

.github-link {
    border-bottom: solid 1px #d1d1d1;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    -webkit-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    font-family: titillium-regular,arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.github-link .icon {
    color: #474747;
    display: block;
    font-size: 36px;
    margin-right: 8px;
    text-align: center;
    -webkit-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.github-link .link-text {
    display: inline-block;
    vertical-align: middle;
}

ul.current {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 100%;
}

ul.current li {
    margin: 0;
}

ul.current>li.toctree-l1:first-of-type a, ul.current>li.toctree-l1:first-of-type a {
    font-family: 'titillium-bold',arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

ul.current li a.current {
    background: rgba(52,152,219,.2);
    box-shadow: inset 3px 0 0 0 #3498db;
}

ul.current li a {
    font-family: 'titillium-regular',arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #474747;
    display: block;
    font-size: 16px;
    padding: .4em .5em;
    text-decoration: none;
}

ul.current li+li {
    margin-top: 0;
}

ul.current li ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}

ul.current li>ul {
    max-height: 0;
    overflow-y: hidden;
}

ul.current li ul li a {
    padding-left: 20px;
}